<head>
  <html prefix="og: http://ogp.me/ns#">
  <link rel="icon" href="https://discordapp.com/api/users/249268393817931776/avatars/f51076b775becf74a4d2dd8635f835ea.jpg" sizes="16x16" type="image/png">
  <meta name="google-site-verification" content="qIqg1j32zfiidc_ZLPkRp_95xzbnci-1RsC_emCsQ8s" />
  <meta name="description" content="{{ site.title }} Website">
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="https://discordapp.com/api/users/249268393817931776/avatars/f51076b775becf74a4d2dd8635f835ea.jpg" />
  <meta property="og:description" content="{{ site.title }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ site.author }}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/main.css">
  <link rel="shortcut icon" type="image/png" href="https://cdn.discordapp.com/avatars/249268393817931776/27a8dd3bdc755bd43a2278c31619c4d1.png?size=1024">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <!--<script src="http://cahbot.pro/assets/js/respond.js"></script>-->
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/assets/css/ie.css">
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
